@import "./common/all.css";
@import "./common/header.css";
@import "./common/footer.css";
/* 外部輪播套件 */
@import "./slick.css";
@import "./slick-theme.css";


div.body_parents{
  width: 100%;
  margin: 0 auto;
  font-size: 0;
  /* border: 1px solid black; */
  display: inline-flex;
  /* padding-left: 3%; */
}

div.body_parents div.body_lock{
  /* height: 3000px; */
  /* width: 1200px; */
  max-width: 1200px;
  margin: 0 auto;
  /* font-size: 16px; */
  /* border: 1px solid #28FF28; */
  display: grid;
  /* inline-flex; */
  padding-top: 70px;
  font-family: 'EB Garamond','Noto Sans TC';
  /* font-family: 'EB Garamond', serif; */
  /* justify-content: space-between; */
  height: 100vh;
  overflow: hidden;
  position: relative;
}

/* 首頁第二屏 */
div.body_parents div.body_lock div.grid-container2{
  /* border: 1px solid #804040; */
  /* width: 100%; */
  margin: 0 auto;
  padding-top: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  /* grid-template-columns: 1200px; */
  width: 1200px;
  /* gap: 40px; */
}
@media screen and (max-width: 1199.98px){
  div.body_parents div.body_lock div.grid-container2{
    width: 100%;
    /* grid-template-columns: 100%; */
  }
}
div.body_parents div.body_lock div.grid-container2 div.grid-item2 {
  /* position: relative; */
  display: inline-flex;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;
  /* border: 1px solid #467500; */
  /* height: 625px; */
  height: 79vh;
  background-color: hsla(0, 0%, 100%, .7);
  border-radius: 10px;
  text-align:center;
  box-shadow: 3px 3px 6px 0px hsla(0, 0%, 0%, .3);
  width: 98%;
  margin-top: 40px;
  margin-bottom: 40px;
  /* text-align: center; */
}
@media screen and (max-width: 900px){
  div.body_parents div.body_lock div.grid-container2 div.grid-item2{
    flex-direction: column;
  }
}

div.body_parents div.body_lock div.grid-container2 div.grid-item2 div.test_question{
  /* border: 1px solid #467500; */
  /* display: inline-flex; */
  /* flex-direction: column */
  width: 58%;
}
@media screen and (max-width: 900px){
  div.body_parents div.body_lock div.grid-container2 div.grid-item2 div.test_question{
    /* width: 90%; */
    width: 540px;
  }
}

@media screen and (max-width: 576px){
  div.body_parents div.body_lock div.grid-container2 div.grid-item2 div.test_question{
    /* width: 350px; */
    width: 92vw;
    padding-left: 10px;
    padding-right: 10px;
  }
}

div.body_parents div.body_lock div.grid-container2 div.grid-item2 div.test_question p.test_title{
  font-size: 24px;
  font-weight: 600;
  color: #3E3A39;
  margin-top: 0;
  margin-bottom: 3rem;
}
@media screen and (max-width: 900px){
  div.body_parents div.body_lock div.grid-container2 div.grid-item2 div.test_question p.test_title{
    margin-top: 10px;
    font-size: 20px;
    margin-bottom: 1rem;
  }
}

div.body_parents div.body_lock div.grid-container2 div.grid-item2 div.test_question p.test_title2{
  position:absolute;
  transform: translateX(-124%);
  /* transform: translateY(50%); */
  margin-top: -1rem;
  /* margin-bottom: 6rem; */
  font-size: 30px;
  font-weight: 600;
  color: #3E3A39;
}

div.body_parents div.body_lock div.grid-container2 div.grid-item2 div.test_question p.test_title2 img{
  width: 1.7rem;
  margin-right: .5rem;
}


div.body_parents div.body_lock div.grid-container2 div.grid-item2 div.test_question p.test_title2_2{
  position:absolute;
  transform: translateX(70%);
  /* transform: translateY(50%); */
  margin-top: -1rem;
  /* margin-bottom: 6rem; */
  font-size: 30px;
  font-weight: 600;
  color: #3E3A39;
}

div.body_parents div.body_lock div.grid-container2 div.grid-item2 div.test_question p.test_title3{
  width: 540px;
  font-size: 18px;
  line-height: 2.2rem;
  font-weight: 500;
  color: #3E3A39;
  margin-top: 3.5rem;
  margin-left: 10rem;
  margin-bottom: 2rem;
  text-align: left;
}


div.body_parents div.body_lock div.grid-container2 div.grid-item2 div.test_img{
  display: inline-flex;
  flex-direction: column;
  margin-top: 2rem;
}
@media screen and (max-width: 900px){
  div.body_parents div.body_lock div.grid-container2 div.grid-item2 div.test_img{
    margin-top: 0;
  }
}
div.body_parents div.body_lock div.grid-container2 div.grid-item2 div.test_img img{
  width: 340px;
}
div.body_parents div.body_lock div.grid-container2 div.grid-item2 button.button{
  /* width: 500px; */
  max-width: 500px;
  width: 80%;
  height: 80px;
  margin-bottom: 30px;
  background-color: #3E3A39;
  border: none;
  color: white;
  padding: 15px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  box-shadow: 3px 3px 5px 0px hsla(0, 0%, 0%, .3);
  cursor: pointer;
  /* 放大效果 */
  transition: all 0.2s ease-out;
}
@media screen and (max-width: 900px){
  div.body_parents div.body_lock div.grid-container2 div.grid-item2 button.button{
    height: 60px;
    margin-bottom: 15px;
  }
}
div.body_parents div.body_lock div.grid-container2 div.grid-item2 button.button:hover{
  transform:scale(1.07,1.07);
}
div.body_parents div.body_lock div.grid-container2 div.grid-item2 button.button p.button_p{
margin: 0;
}

/* 解答區的按鈕樣式-1 */
div.body_parents div.body_lock div.grid-container2 div.grid-item2 div.test_answer_button{
  /* border: 1px solid yellow; */
  margin-right: 24%;
}
div.body_parents div.body_lock div.grid-container2 div.grid-item2 div.test_answer_button button.button2{
  margin-right: 1rem;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 60px;
  height: 60px;
  background-color: #FFFFFF;
  border: none;
  /* padding: 20px 20px; */
  display: inline-block;
  border-radius: 60px;
  box-shadow: 3px 3px 5px 0px hsla(0, 0%, 0%, .3);
  /* 放大效果 */
  transition: all 0.2s ease-out;
}
div.body_parents div.body_lock div.grid-container2 div.grid-item2 div.test_answer_button button.button2:hover{
  transform:scale(1.1,1.1);
}
div.body_parents div.body_lock div.grid-container2 div.grid-item2 div.test_answer_button button.button2 p.button_p{
margin: 0;
}
div.body_parents div.body_lock div.grid-container2 div.grid-item2 div.test_answer_button button.button2 a.button2_img img{
width: 1.7rem;
}


/* ------------------------------------------------------- 解答區樣式 ------------------------------------------------------- */

div.body_parents div.body_lock div.grid-container2 div.grid-item2_answer {
  /* display: inline-flex; */
  justify-content: center;
  align-items: center;

  box-sizing: border-box;
  /* border: 1px solid #467500; */
  height: 625px;
  background-color: hsla(0, 0%, 100%, .7);
  border-radius: 10px;
  text-align:center;
  box-shadow: 3px 3px 6px 0px hsla(0, 0%, 0%, .3);
  width: 99%;
  margin-top: 40px;
  margin-bottom: 40px;
  /* text-align: center; */
  display: none;
}
@media screen and (max-width: 900px){
  div.body_parents div.body_lock div.grid-container2 div.grid-item2_answer{
    
  }
}

div.body_parents div.body_lock div.grid-container2 div.grid-item2_answer div.test_question{
  /* border: 1px solid #467500; */
  position: relative;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 5%;
  padding-right: 5%;
  /* flex-direction: column */
  width: 60%;
  height: 100%;
}
@media screen and (max-width: 767px){
  div.body_parents div.body_lock div.grid-container2 div.grid-item2_answer div.test_question{
    width: 100%;
  }
}

div.body_parents div.body_lock div.grid-container2 div.grid-item2_answer div.test_question p.test_title{
  font-size: 24px;
  /* font-weight: 600; */
  color: #3E3A39;
  margin-top: 0;
  margin-bottom: 3rem;
}

div.body_parents div.body_lock div.grid-container2 div.grid-item2_answer div.test_img p.test_title2{
  /* position:absolute; */
  /* transform: translateX(-124%); */
  /* transform: translateY(50%); */
  /* margin-top: -1rem; */
  /* margin-bottom: 6rem; */
  font-size: 30px;
  font-weight: 600;
  color: #3E3A39;
}

div.body_parents div.body_lock div.grid-container2 div.grid-item2_answer div.test_img p.test_title2 img{
  width: 1.7rem;
  margin-right: .5rem;
}


div.body_parents div.body_lock div.grid-container2 div.grid-item2_answer div.test_question p.test_title2_2{
  /* position:absolute; */
  /* transform: translateX(70%); */
  /* transform: translateY(50%); */
  /* margin-top: -1rem; */
  /* margin-bottom: 6rem; */
  margin-top: 2.5rem;
  font-size: 30px;
  font-weight: 600;
  color: #3E3A39;
}

div.body_parents div.body_lock div.grid-container2 div.grid-item2_answer div.test_question p.test_title3{
  font-size: 18px;
  line-height: 2.2rem;
  font-weight: 500;
  color: #3E3A39;
  /* margin-top: 3.5rem; */
  /* margin-left: 10rem; */
  margin-bottom: .5rem;
  text-align: left;
}


div.body_parents div.body_lock div.grid-container2 div.grid-item2_answer div.test_img{
  display: inline-flex;
  flex-direction: column;
  /* margin-top: 2rem; */
  align-items: flex-start;
  height: 100%;
  padding-left: 5%;
}
div.body_parents div.body_lock div.grid-container2 div.grid-item2_answer div.test_img img{
  margin-top: 1rem;
  width: 340px;
}
div.body_parents div.body_lock div.grid-container2 div.grid-item2_answer button.button{
  width: 500px;
  height: 80px;
  margin-bottom: 30px;
  background-color: #3E3A39;
  border: none;
  color: white;
  padding: 15px 100px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  box-shadow: 3px 3px 5px 0px hsla(0, 0%, 0%, .3);
  cursor: pointer;
  /* 放大效果 */
  transition: all 0.2s ease-out;
}
div.body_parents div.body_lock div.grid-container2 div.grid-item2_answer button.button:hover{
  transform:scale(1.07,1.07);
}
div.body_parents div.body_lock div.grid-container2 div.grid-item2_answer button.button p.button_p{
margin: 0;
}

/* 解答區的按鈕樣式-1 */
div.body_parents div.body_lock div.grid-container2 div.grid-item2_answer div.test_answer_button{
  /* border: 1px solid yellow; */
  margin-right: 24%;
}
div.body_parents div.body_lock div.grid-container2 div.grid-item2_answer div.test_answer_button button.button2{
  margin-right: 1rem;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 60px;
  height: 60px;
  background-color: #FFFFFF;
  border: none;
  /* padding: 20px 20px; */
  display: inline-block;
  border-radius: 60px;
  box-shadow: 3px 3px 5px 0px hsla(0, 0%, 0%, .3);
  /* 放大效果 */
  transform:scale(1,1);
  transition: all 0.2s ease-out;
}
div.body_parents div.body_lock div.grid-container2 div.grid-item2_answer div.test_answer_button button.button2:hover{
  transform:scale(1.1,1.1);
}
div.body_parents div.body_lock div.grid-container2 div.grid-item2_answer div.test_answer_button button.button2 p.button_p{
margin: 0;
}
div.body_parents div.body_lock div.grid-container2 div.grid-item2_answer div.test_answer_button button.button2 a.button2_img img{
width: 1.7rem;
}

/* 解答區的按鈕樣式-1 */
button.grid-container3_button {
    width: 150px;
    margin-top: 1rem;
    margin-left: .3rem;
    background: transparent;
    border: none;
    color: #3E3A39;
    padding: 6px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;

}
button.grid-container3_button:hover {
    background-color: #EBDFCA; /* Green */
    transition: all 0.7s

}
button.grid-container3_button a{
  margin: 0;
  font-size: 20px;
  font-family: 'EB Garamond';
  color: #3E3A39;

  text-decoration: underline;
}
/* ------------------------------------------------------- 解答區樣式 ------------------------------------------------------- */



/* 往下箭頭 */
div.body_parents div.body_lock div.grid-container2 div.downarrow{
  /* border: 1px solid yellow; */
  width: 100px;
  height: 100px;
  margin-top: 50px;
  margin-left: 54%;
  transform: translateX(-50%);
  background: transparent;
}
div.body_parents div.body_lock div.grid-container2 div.downarrow span.arrow{
  display: block;
    width: 18px;
    height: 18px;
    border-bottom: 3px solid #707070;
    border-right: 3px solid #707070;
    transform: rotate(45deg);
    margin: -5px;
    background: transparent;
    animation-name: down;
    animation-duration: 2s;
    animation-iteration-count: infinite;

}

@keyframes down{

0% {
    opacity: 0;
    transform: rotate(45deg) translate(-15px, -15px);
}

50% {
    opacity: 1;
}

100% {
    opacity: 0;
    transform: rotate(45deg) translate(15px, 15px);
}}

/* 進度條 */
div.progress_parents_box{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  width: 99%;

  left: 50%;
  /* bottom: 50px; */
  bottom: 7%;
  transform: translate(-50%, -50%);
}
div.progress_box{
  box-sizing: border-box;
  width: 70%;
  /* border: 1px solid yellow; */
  /* transform: translateY(-200%); */
}

div.progress_bar{
  height: 15px;
  background-color: #8E8E8E;
  border-radius: 8px;
  overflow: hidden;

  margin-bottom: 0px;
}
div.progress_bar > span.progress{
  display: inline-block;
  height: 100%;
  background-color: #343535;

  width: 0%;
}

/* 答案區的小香氛圖片 */
img.answer_img{
  width: 80px;
  /* border: 1px solid yellow; */
  position:absolute;
  /* transform: translateX(220%); */
  right: 10%;
  bottom: 4%;
}

/* 換屏 */
#is_hidden{
  /* display: none; */
  transform: translateX(-100%);
}

#is_none{
  display: none;
}