* {
  box-sizing: border-box;
  /* overflow-x: hidden; */
  font-family: 'EB Garamond', sans-serif;;
}

body{
  margin: 0;
  background-color: #DADCCE;
  /* width: 100%; */
  /* z-index:-1; */
  overflow-x: hidden;
  position: relative;
}


/* div.other_contents{
  height: 500px;
  border: 1px solid black;
  margin-left: 1rem;
} */

/* 自訂滑鼠游標 */
/* body{
  cursor: url("../images/cursor.png"), default !important;
} */
