footer.footer{
  min-width: 100%;
  /* min-width: 1200px; */
  margin: 0 auto;
  font-size: 0;
  /* border: 1px solid black; */
  background-color: #D3C8CA;
  display: inline-flex;
  /* transform: translateX(10%); */

  /* overflow:auto; */
  /* position: relative; */
}
footer.footer div.lock{
  /* max-width: 1200px; */
  /* max-width: 1200px; */
  /* height: 900px; */
  margin: 0 auto;
  font-size: 16px;
  /* border: 1px solid #28FF28; */
  display: inline-flex;
  flex-direction: column;
  /* justify-content: space-between; */
  /* position: absolute; */
}
footer.footer div.lock div.footer_slideshow{
  display: inline-flex;
  flex-direction: row;
  position: relative;
  /* min-height: 366vh; */
  min-width: 100%;
}
/* 文字部分 */
/* footer.footer div.lock p{
  font-family: 'EB Garamond','Noto Sans TC';
  text-align:center;
} */
footer.footer div.lock p.footer_title1{
  font-family: 'Noto Sans TC';
  font-weight: 600;
  color: #3E3A39;
  text-align:center;
  font-size: 38px;
  margin-bottom: 0;
}
footer.footer div.lock p.footer_title2{
  font-family: 'EB Garamond';
  color: #3E3A39;
  text-align:center;
  font-size: 22px;
  margin-top: 0.7rem;
  margin-bottom: 3rem;
}
footer.footer div.lock p.footer_text1{
  font-family: 'EB Garamond';
  color: #3E3A39;
  text-align:center;
  font-size: 18px;
  margin-bottom: 2rem;
}
footer.footer div.lock div.footer_text2{
  display: inline-flex;
  flex-direction:row;
  justify-content:center;
  /* border: 1px solid #28FF28; */
  width: 100%;
}
footer.footer div.lock div.footer_text2 a.footer_text2_1{
  font-family: 'Noto Sans TC';
  font-weight: 200;
  color: #3E3A39;
  font-size: 14px;
  padding-right: 1.5rem;
}
footer.footer div.lock div.footer_text2 a.footer_text2_2{
  font-family: 'Noto Sans TC';
  font-weight: 200;
  color: #3E3A39;
  font-size: 14px;
  padding-right: 0;
}
footer.footer div.lock p.footer_text3{
  font-family: 'Noto Sans TC';
  color: #3E3A39;
  text-align:center;
  font-size: 12px;
}
footer.footer div.lock p.footer_text4{
  font-family: 'EB Garamond';
  color: #3E3A39;
  text-align:center;
  font-size: 12px;
}
footer.footer div.lock p.footer_text5{
  font-family: 'Noto Sans TC';
  color: #3E3A39;
  text-align:center;
  font-size: 6px;
  margin-top: 5rem;
}
/* footer.footer div.lock div.footer_slideshow{
  border: 1px solid #28FF28;
  display: inline-flex;
  flex-direction:row;
  justify-content:center;
} */


footer.footer div.lock{
  margin: 0;
  /* border: 1px solid #484891; */
  width: 100vw;
  /* height: 760px; */
  display: inline-flex;
  justify-content: space-evenly;
  /* flex-direction: column; */
  flex-wrap: wrap;
  /* padding: 30px; */
}
@media screen and (max-width: 768px){
  footer.footer div.lock div.footer_slideshow{
    flex-direction: column;
    align-items: center
  }
}

div.footer_slideshow div.grid-item {
    /* border: 1px solid #467500; */

    width:30%;
    /* height:366px; */
    overflow:hidden;
    box-shadow: 3px 3px 6px 0px hsla(0, 0%, 0%, .3);
    font-size: 30px;
    text-align: center;
    position: relative;
    margin: 20px;
  }
  @media screen and (max-width: 768px){
    div.footer_slideshow div.grid-item{
      margin: 20px;
      width:80%;
      /* flex-direction: column;
      align-items: center */
    }
  }
  /* 老師新增 */
  .grid-item a{
    display:block;
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;

  }
  .grid-item::before{
    content: "";
    width: 100%;
    padding-bottom: 100%;
    display: block;
  }
  /* 老師新增 */
div.footer_slideshow div.grid-item img{
    width: 100%;
    height: 100%;
  }
